@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* nav bar */
 *{
    box-sizing: border-box;
    font-family: "inherit", sans-serif;
    color: rgb(36, 62, 99);
    padding: 0;
    }

.nav{
    padding-top: 32px;
    display: flex;

    }

.nav__logo{
    display: flex;
    align-items: center;
    
    
    }

.nav__logo--img{
    height: 40px;
    width: 40px;
    

    }
    
    .nav__logo--title{
        font-weight: 900;
        font-size: 24px;
        margin-left: 24px;
        padding-bottom: 2px;
    letter-spacing: 0.6px;
    
}
.nav__row{
    display: flex;
    justify-content: space-between;
}



.body{
    max-width: 100vw;
    overflow-x: hidden;
}

@media(max-with:1280px){
    .steps__grid{
        height: 5rem;
        width: 5rem;
        bottom: -50px;
    }
    
    .h1{
        color: rgb(26, 32, 44);
        line-height: 1.25;
    }
    
    .header__discription---para{
        font-size: 16px;
    }
    
    .header .row{
        align-items: flex-end;
    }
    .testimonials__img{
        width: 40%;
    }
    
    .testimonial__profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
    }

    .header__img{
    max-width: 512px;
    width: 100%;
    box-sizing: border-box;
    }
    .header__img--wrapper{
        display: flex;
        justify-items:flex-end;
        width: calc(100% - 40%);
        
    }

    .header__customers{
        padding-right: 64px;
        margin-top: 16px;
        opacity: 0.5;
    }

    .header__email--btn{
        z-index: 2;
        height: calc(100% - 16px);
        width: 100%;
        background-color: rgb(100, 21, 255);
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 16px;
        margin: 8px;
        border-radius: 500px;
        border-width: medium;
        border-style: none;
        border-color: currentColor;
        border-image: initial;
        transition: all 300ms ease;

    }

    .feature__row{
    display: flex;
    align-items:flex-end;
    padding: 32px 8px;
    margin: 0 16px;
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    }
   
    .header__email--input{
      border-radius: 500px;
      font-size: 16px;
      padding: 20px 192px 20px 32px;
      transition: border-color 300ms ease;
      border-color: rgb(229, 231, 235);
      border-width: 2px;
      z-index: 1;
      bottom: 0px;
      top: 0px;
      border-style: solid;
      border-image: initial;
      width: 100%;
      color: rgb(36, 62, 99);
      font-weight: 500;
      position: absolute;

    }
     
    .header__email{
        width: 100%;
        max-width: 448px;
        height: 68px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .header__email--btn{
        z-index: 2;
        height: calc(100% - 16px);
        width: 100%;
        background-color: rgb(100, 21, 255);
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 16px;
        margin: 8px;
        border-radius: 500px;
        border-width: medium;
        border-style: none;
        border-color: currentColor;
        border-image: initial;
        transition: all 300ms ease;

    }
@media(max-width: 1545px){
    .testimonial__profile{
        
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px){
    .nav__links{
        display: none;
    }
    .btn__menu{
        display: block;
    }
    
    .header .row{
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .header__discription{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .header__customers--title{
        margin-top: 48px;
    }

    .header__discription .header__img--wrapper{
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    }
    


    .h1{
    font-size: 30px;

    }

    .header__discription---para{
    margin: 20px 0px;
    }

    #features .section__title #pricing .section__title{
    font-size: 48px;
    }
    .features{
    max-width: 768px;
    }

    .feature{
    width: calc(50%);
    }
    .header__customers{
    padding-right: 0px;

    }

    .section__para{
    font-size: 14px;
    }

    .quality__discription{
        margin-right: 0px;
        padding-right: 48px;
    }
    .footer{
        padding: 80px 32px;
    }
    .start__row{
        flex-direction:column;

    }
    .start__title{
        text-align: center;
        width: 100%;
        max-width: 512px;

    }
    .start__buttons{
        width: auto;
        margin-top: 24px;

    }
    .start__button{
        padding: 16px 32px;
    }
    #testimonials .container{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .plans{
        flex-direction: column;
        align-items: center;
    }

    }

@media (max-width:768px) {
    header .row{
        align-items: center;
        flex-direction: column;
    }
    .quality__description .steps__description .values__description .testimonial__description{
        padding: auto 0;
        margin-top: 64px;
        text-align: center;
    }
    .header__description{
        width: 100%;
    }
    .header__email{
        flex-direction: column;
        height: auto;
    }

    .header__img--wrapper{
        width: 100%;
        margin-top: 32px;
    }
    .feature__row{
        display: flex;
    }
    .feature__img--wrapper{
        width: 64px;
        height: 64px;
    }
    .quality__discription .steps__description .values__description .testimonial__description{
        padding: 0;
        margin-top: 64px;
        text-align: center;
        

    }
    .quality__description quality__img--wrapper .steps__description .steps__img--wrapper .values__description .values__img .testimonials__description .testimonials__img{
        width: 100%;
        max-width: 448px;
        
    }
    .section__para{
        font: 14px;
    }
    .quality__img--wrapper{
       width: 100%;
       max-width: 448px;
    }
    .footer__bottom{
         
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__socials{
        margin-left: 0px;
    }
    .footer__copyright .foot__socials{
        margin-top: 32px;

    }
    .footer__columns{
        justify-content: flex-start;
    }
    .footer__column{
        width: calc(33.3333%)
    }
    #testimonials .row{
        flex-direction: column;
    }
    .testimonials__img{
        width: 100%;
        max-width: 448px;
    }
    .step{
        flex-direction: column;
        align-items: center;
    }
}


@media(max-width: 640px){
    .nav__logo{
        margin: 8px 0;
        padding-bottom: 4px;
    }
    .container{
        padding: 80px 0;
    }

    .header__email--input{
        position: static;
        line-height: 1.5;
        padding: 16px 0px;
        padding-left: 32px;
    }
    .header__email{
        flex-direction: column;
        height: auto;
    }
    .testimonial__bottom{
        flex-direction: column;
        align-items: center;
    }
    .testimonial__buttons{
        margin-top: 32px;
    }
    .testimonial_img{
        height: 64px;
        width: 64px;
    }
    .testimonial__profile{
        flex-direction: column;
        align-items: center;
    }
    .feature__row{
        
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feature__text{
       margin-left: ; 
    }
    .btn{
        line-height: 1.5;
    }
    .section__title{
        font-size: 32px;
    }
    .footer__columns{
        justify-self: center;
    }
    .foot__column{
        width: auto;
        text-align: center;
        align-items: center;
        padding: 0px 16px;
    }
    .start__title{
        font-size: 24px;
    }
    .start__buttons{
        flex-direction:column;
    }
    .start__button :nth-child(1){
        margin-right: 0px;
    }
    .start__button{
        font-size: 14px;
        padding: 12px 24px;
    }
    .btn{
        line-height: 1.5;
    }
    .container{
        padding: 80px 80px;
    }
    .footer__bottom{
        flex-direction:column;
    }
}   .start__container{
    padding: 80px 0;
}

@media(max-width: 480px){
    .header__email--btn{
        width: 100%;
        margin: 8px 0px;
    }
    .feature{
        width: 100%;
    }
    .feature__row{
        
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
}
.nav__links{
    align-items: center;
    padding-bottom: 2px;
    font-size: 32px;
    display: flex;

    }

.nav__link{
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    
    }


.purple{
    color: #6415ff;
    }

.nav__link--primary{
    margin: 0;
    padding: 10px 32px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width:auto;
    transition: all 300ms ease;
    }

.a{
    display: inline;
    text-decoration: none;
    }

.p{
    line-height: 1.5;;
    }

    /* btn__menu*/
   
.btn__menu{
    background-color: transparent;
    border: none;
    border-width:medium;
    border-style: none;
    transition: all 300ms ease;

    }

.btn__menu--close{
    position:fixed;
    top: 24px;
    right: 18px;
    }

button{
    cursor: pointer;
    
    }

.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
    }

.menu__link{
    color: rgb(26, 32, 44);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 4px;
    margin: 8px 0px;
    border-bottom: 2px solid transparent;
    }

.menu__links{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
    }

    /* header */
    
.header{
    position: relative;
    }
.steps__grid{
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: rgb(100, 21, 255);
    z-index: 0;
    display: block;
    }
.step__title{
  font-size: 20px;
  font-weight: 700;  
  color: rgb(36, 62, 99);
  line-height: 1;
  
}
.step__number{
    color: rgb(203, 213, 224);
    font-size:36px;
    font-weight: 600;
    line-height: 1;
}
.step{
    display:flex;
    align-items: flex-start;
    margin-top: 32px;
}
.step__para{
    font-size: 14px;
    color: rgb(113, 128, 150);
    line-height: 2;
    font-weight: 500px;
}
.steps__img{
    z-index: 2;
}

.header__email--input {
    width: 100%;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    border-radius: 500px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    padding: 20px 192px 20px 32px;
    transition: border-color 300ms ease;
    }
    
.header__email{
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    }

.header__email--btn{
    z-index: 2;
    height: calc(100% - 16px);
    width: 160px;
    background-color: rgb(100, 21, 255);
    color: rgb(255, 255, 2550);
    font-weight: 700;
    font-size: 16px;
    margin: 8px;
    border-radius: 500px;
    border-width: medium;
    border-style: none;
    border-color: currentColor;
    border-image: initial;
    transition: 300ms;


    }
.header__customers--title{
    color: rgb(160 , 174, 192);
    font-size: 12px;
    font-weight: 700;
    }

.p{
    line-height: 1.5;
    }

 header .row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    }

.header__img{
    width:100%;
    max-width: 800px;
    min-width: 300px;
    height: auto;
    }

.header__discription{
    width: 40%;
    }

.header__img--wrapper{
    width: calc(100% - 40%);
    }

.row{
    
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    }

.header__customers{
    margin-top: 16px;
    opacity: 0.5;
    }

img{
   width: 100%;
}

    /* Features */

.container{
    padding: 96px 0px;
    }
#features{
    position: relative;
    }

.feature__img--wrapper{
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    width: 64px;
    }

.feature__img{
    width: 24px;
    height: 24px;
    }

.features{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    }

.section{
    padding: 0px 32px;
    }

#features .row__narrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.feature__row{
    margin: auto;
    flex-direction: ;
    padding: 32px 24px;
    
    }

.feature{
    width: calc(100%/ 3);
    }

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    }

/* VALUES */

.values__img .values__description{
    width: 50%;
}
#values .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.values__description{
    padding: 32px 64px 32px 0px;
}

/*PRICING*/


.section__tag{
    font-size: 16px;
    color: rgb(100, 21, 255);
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    }

.section__title{
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 16px 0px;
    display: flex;
    }

 .section__para{
    font-size: 18px;
    max-width: ;
    font-weight: 500;
    color:#7c8ba1;
    line-height: 1.625;
    }
#features .section__title #pricing .section__title{
    text-align: center;
}
#pricing .section__para{
    max-width: 567px;
    text-align: center;
}

/*PLANS*/

  .plans{
            display:flex;
            position: relative;
            justify-content: space-between;
            flex-direction: row;
        }
.plan{
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26, 32, 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: auto 0.5rem;

}

.plan__name{
    font-size: 20px;
    font-weight: 700;

 }
 .plan__stripe{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

 }
  .plan__stripe, .plan__button{
    color:rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
 }
 .plan__price{
    color: rgb(26, 32, 44);
    font-size: 48px;
    margin: 4px 0px;
 }

 .plan__name .plan__price .plan__duration{
    font-weight: bold;
    line-height: 1.625;
 }

 .plan:nth-child(2nd+1) .plan__duration{
    color: rgb(160 , 174, 192);
 }

 .plan__duration{
    font-size: 16px;
    letter-spacing: 0.1em;
 }

 .plan:nth-child(1) .plan__middle .plan:nth-child(3){
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);

 }
 .plan.plan:nth-child(2n+1) .plan__target{
    color: rgb(26, 32, 44);
 }
.plan__top{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
    
}
 .plan__target{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;

 }


 .plan__middle{
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    flex: 1 1 0%;
    padding: 2rem;   
 }
 .plan__name .plan__price .plan__duration{
    font-weight: bold;
    line-height: 1.625;


 }
    /*Testimonials*/


    .testimonial__button{
        width: 16px;
        height: 16px;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: auto 16px;
        background: #edf2f7;
        border-radius: 50%;
        margin: 0 ,12px;
        transition: all 300ms ease;

    }
    button{
        cursor: pointer;
        border:none;
        height: 52%;
    }
 
    .testimonial__buttons{
        display: flex;
        align-items: center;
    }
    .divider{
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        border-right-width: 1px;
        width: 0.5px;
        background-color: #edf2f7;
        height: 20px;
    }
    #testimonials .row{
        margin-left: auto;
        margin-right: auto;
        max-width: 1280;
        display: flex;
        align-items: center;
        justify-content:space-between;
}
    .row{
        width: 100%;
        margin: 0px auto;
    }
    .values__img .values__description .testimonial__img .testimonials__description{
    width: 50%;
}
    
    .testimonial__profile{
        display: flex;
        align-items: center;
    }
    .testimonial__img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        

    }
    .testimonial__bottom{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .testimonial__name{
        color: #4a5568;
        line-height: 1.625;
        font-size: 1.25rem;
        font-weight: 700;

    }
    .testimonials__description{
        display: flex;
        flex-direction: column;
        padding-left: 64px;
    }
.testimonial__rating ::before{
    color: rgb(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}    




    /* Quality */

    #quality .btn{
        margin-top: 32px;
        max-height: 48px;
        }
    .btn{
        background-color: #6415ff;
        padding: 12px 32px;
        border: none;
        border-radius: 500px;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        transition: all 300ms ease;
        cursor: pointer;

        }
        
        .quality__img--wrapper{
            border-radius: 4px;
            border: 1px solid rgb(229, 231, 235);
            position: relative;
            margin: 0 56px;
            z-index: 2;
            display: flex;
            
        }
        .quality__grid{
            transform: translateX(50%)
            translateY(50%) scaleX(1) scaleY(1);
            width: 80px;
            height: 80px;
            position: absolute;
            right: 0px;
            bottom: 0px;
            fill: rgb(100, 21, 255);
            color: rgb(100, 21, 255);
            z-index: 0;
            display: block;
        }
   
   
 /*START */


        .section{
            padding: 0px 32px;
        }
        #start .row{
            position: relative;
            overflow: hidden;
        }
    
        .row{
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
        }
        .start__blob--1{
            position:absolute;
            bottom: 0px;
            left: 0px;
            height: 20rem;
            width: 20rem;
            transform: translate(-5rem, 8rem);
            color: rgb(80 17 204);
            opacity: 0,5;
        }
        .start__blob--2{
            position: absolute;
            top: 0px;
            right: 0px;
            height:  20rem;
            width: 20rem;
            transform: translate(-5rem, -16rem);
            color: rgb(80 17 204);
            opacity: 0.5;

        }
            
        #start .container{
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        .start__container{
            width: 100%;
            background-color: rgb(100, 21, 255);
            display: flex;
            justify-content:center;
            border-radius: 8px;
        }
        .start__row{
            width:100%;
            max-width: 1024px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0px 32px;
        }
        .start__title{
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 700;
            line-height: 1.5;
            z-index: 2;
        }
        .start__buttons{
            display: flex;
            justify-content: flex-end;   
        }
        .start__title, .start__buttons{
            width: 50%;
        }
        .start__button:nth-child(1){
            box-shadow: rgb(0, 0, 0 ,0) 0px 0px 0px 0px, rgb(0, 0, 0 ,0) 0px 0px 0px 0px, rgb(0, 0, 0 ,0.1) 0px 10px 15px -3px,rgb(0, 0, 0, 0.05) 0px 4px 6px -2px;
            background-color: rgb(245, 101, 101);
            transition: 300ms;
        }
        .start__button{
            font-weight: 700;
            font-size: 16px;
            color: rgb(247, 250, 252);
            line-height: 1.5;
            z-index: 2;
            padding: 20px 40px;
            border-radius: 500px;
            margin: 1px;
        }
        .btn{
            background-color: rgb(100, 21, 255);
            padding: 12px 32px;
            border-style:dashed;
            border-radius: 500px;
            border-width: medium;
            border-color: currentColor;
            border-image: none;
            font-size: 14px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            transition: all 300ms ease;
            cursor: pointer;
        }
        .start__button:nth-child(2){
            border-width: 1px;
            border-style: solid;
            border-color: rgb(160, 174, 192);
            border-image: none;
            transition: 300ms;

        }
        .start__container{
            width: 100%;
            background-color: rgb(100, 21, 255);
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        /* Footer */


        .footer{
            background-color: rgb(100, 21, 255);
            margin-bottom: -32px;
            position: relative;
            overflow: hidden;
            padding: 96px 32px;
        }
        .footer__row{
            background-color: rgb(100, 21, 255);
            margin-bottom: 32px;
            position: relative;
            overflow: hidden;
        }
        .footer__bottom{
           display: flex; 
           justify-content: space-between;
           align-items: center;
        
        }
        .footer__logo{
            display: flex;
            align-items: center;
            }
        .footer__logo--img{
            height: 32px;
            width: 32px;

        }
        .footer__logo--text{
            font-size: 20px;
            font-weight: 900;  
            margin-left: 8px;
            letter-spacing: 0.05em;
            color: rgb(255, 255, 255);
            
        }
        
        .footer__socials{
            display: flex;
            align-items: center;
            margin-left: 32px;
            
        }
        .row{
            width: 100%;
            max-width: 1280;
            margin: 0 auto;
        }
        .footer__social--link{
            margin-left: 16px;
            padding: 8px;
            background: #f7fafc;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            z-index: 2;
            cursor: pointer;
            transition: all 300ms ease;
            height: 16px;
            width: 16px;
        }
        .footer__columns{
            margin-top: -48px;
            display: flex;
            flex-direction: ;
            flex-wrap: wrap;
            justify-content: space-between;

        }
        .footer__column{
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            padding: 64px 32px 64px 32px;
            
            z-index: 2;
        }
        .footer__blob--2{
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 320px;
            height: 320px;
            transform: translateX(128px) translateY(128px);
            z-index: 1;
            opacity: 0.5;

        }
        .footer__blob--1{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 320px;
            height: 320px;
            transform: translateX(-80px) translateY(-128px);
            z-index: 1;
            opacity: 0.5;
        }
        .footer__column--title{
            font-size: 20px;
            font-weight: 700;
            color: rgb(255, 255, 255);
            line-height: 1.5;
        }
        .footer__column--link{
            color: rgb(247, 250, 252);
            font-size: 14px;
            margin-top: 12px;
            line-height: 1.5;
            font-weight: 500;
            position: relative;
            cursor: pointer;
        }
        .footer__column--link::after{
            content:"";
            position: absolute;
            left: 0px;
            bottom: -6px;
            height: 2px;
            width: 100%;
            opacity: 0;
            background: rgb(255, 255, 255);
            transition: 300ms;
        }
        .footer__divider{
            width: 100%;
            height: 2px;
            margin: 64px 0px;
            background-color:rgb(116, 44, 255);
        }
        .footer__copyright{
            color: rgb(203, 213, 224);
            font-weight: 500;
            margin-bottom: 24px;
        }
        .a{
            text-decoration: none;
        }